html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.horizontal-container {
  display: flex;
  height: 100vh;
  width: 300vw;
  background-image: url("../imgs/Ellipse 1 copy.jpg");
  background-position: -70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.section {
  width: 100dvw; /* Каждая секция занимает 100% ширины окна */
  height: 100dvh; /* Высота секции на весь экран */
  display: flex;
  position: relative;
}
